.vscode
*.exe
*.out
__debug_bin

/engine.io/_examples/server/server
/engine.io/_examples/client/client

/_examples/server/basic/basic
/_examples/server/full/full
/_examples/client/basic/basic
/_examples/client/full/full
